/* Coolors Exported Palette - coolors.co/39ea17-f17f03-2b2d35-cfdbd5-e8eddf */

$color1: #39ea17; //rgba(57, 234, 23, 100)
$color2: #f17f03; //rgba(241, 127, 3, 100)
$color3: #2b2d35; //rgba(43, 45, 53, 100)
$color4: #cfdbd5; //rgba(207, 219, 213, 100)
$color5: #e8eddf; //rgba(232, 237, 223, 100)