<table class="benefits-table">
  <tbody>
    <tr><td><img style="margin-right:10px;" src="/img/checkt.png"/></td>
      <td>
        <b>Schnelles Bargeld</b> (noch am gleichen Tag)
      </td>
    </tr>
    <tr style="padding-top:20px;"><td><img style="margin-right:10px;" src="/img/checkt.png"/></td>
      <td>
        <b>Diskret</b> (keine Namenseingabe oder Bonitätsprüfung)
      </td>
    </tr>
    <tr><td><img style="margin-right:10px;" src="/img/checkt.png"/></td>
      <td>
        <b>Kostenlos</b> und <b>unverbindlich</b>
      </td>
    </tr>
    <tr><td><img style="margin-right:10px;" src="/img/checkt.png"/></td>
      <td>
        <b>Ohne Risiko</b> (gesetzliche Regulierung der Pfandleihe)
      </td>
    </tr>
    <tr><td><img style="margin-right:10px;" src="/img/checkt.png"/></td>
      <td>
        <b>Top Konditionen</b> durch deutschlandweiten Vergleich
      </td>
    </tr>
  </tbody>
</table>
