<div class="scroll-up">
	<a href="#top"><i class="fa fa-angle-up"></i></a>
</div>
<footer>
  <div class="container">
    <div class="text-center">
      <img style="max-width: 256px;" src="/img/bv_logo_lightdark.png">
    </div>
    <div class="text-center" style="margin:10px 0 20px 0;">
      info@bonaval.de<br>
      Tel: <a href="tel:+49-89-21806763">089 / 21806763</a><br>
      Mo-Fr: 09:00 - 19:00
    </div>
    <!--<div class="v-sep"></div>-->
    <div class="text-center">
      <h4>Folgen Sie uns</h4>
    </div>
    <div class="text-center">
      <a href="https://twitter.com/bonaval_de"><img src="/img/twitter-128.png" style="width:58px; padding:0px 10px;"></a>
      <a href="https://www.facebook.com/BonaVal-132134887141004"><img src="/img/facebook-3-128.png" style="width:58px; padding:0px 10px;"></a>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-sm-4">
            <h4>UNTERNEHMEN</h4>
            <p><a href="/infos/UeberUns">Über uns</a></p>
            <!-- <p><a href="/">Blog</a></p> -->
            <p><a href="/infos/AGB">AGB (Nutzungsbedingungen)</a></p>
            <p><a href="/infos/Datenschutz">Datenschutz</a></p>
            <p><a href="/infos/Impressum">Impressum</a></p>
          </div>
          <div class="col-sm-4">
            <h4>KREDITNEHMER</h4>
            <p><a href="/app">Kreditvergleich einholen</a></p>
            <p><a href="/app/locations/">Kreditgeber kennenlernen</a></p>
            <p><a href="/infos/FAQ/">FAQ</a></p>
            <p><a href="/infos/Pfandleihverordnung/">Pfandleihverordnung</a></p>
            <p><a href="/app/user/login">Einloggen</a></p>
          </div>
          <div class="col-sm-4">
            <h4>KREDITGEBER</h4>
            <p><a href="/infos/Partnerprogramm">Partnerprogramm</a></p>
            <p><a href="/app/user/login">Einloggen</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-sm-4">
            <p><a href="https://www.bonaval.de/infos/Pfandkredit">Pfandkredit</a></p>
            <p><a href="https://www.bonaval.de/infos/Pfandleihhaus">Pfandleihhaus</a></p>
            <p><a href="https://www.bonaval.de/infos/Pfandhaus">Pfandhaus</a></p>
            <p><a href="https://www.bonaval.de/infos/KFZ-Pfandleihhaus">KFZ Pfandleihhaus</a></p>
            <p><a href="https://www.bonaval.de/infos/Lombardkredit">Lombardkredit</a></p>
          </div>
          <div class="col-sm-4">
            <p><a href="https://www.bonaval.de/infos/Zwischenfinanzierung">Zwischenfinanzierung</a></p>
            <p><a href="https://www.bonaval.de/infos/Kredit-ohne-Schufa">Kredit ohne Schufa</a></p>
            <p><a href="https://www.bonaval.de/infos/Kleinkredite">Kleinkredite</a></p>
            <p><a href="https://www.bonaval.de/infos/Kredit-fuer-Selbststaendige">Kredit für Selbstständige</a></p>
            <p><a href="https://www.bonaval.de/infos/Onlinekredit">Online Kredit</a></p>
          </div>
          <div class="col-sm-4">
            <p><a href="https://www.bonaval.de/infos/Pfandleihhaus-Muenchen">Pfandleihhaus München</a></p>
            <p><a href="https://www.bonaval.de/infos/Leihhaus-Duisburg">Leihhaus Duisburg</a></p>
            <p><a href="https://www.bonaval.de/infos/Leihhaus-Nuernberg">Leihhaus Nürnberg</a></p>
            <p><a href="https://www.bonaval.de/infos/Pfandhaus-Dortmund">Pfandhaus Dortmund</a></p>
            <p><a href="https://www.bonaval.de/infos/Pfandhaus-Duesseldorf">Pfandhaus Düsseldorf</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <p>BonaVal ist eine Marke der BonaVal UG · Schellingstraße 9 · 80799 München · info@bonaval.de</p>
        <p>BonaVal vergibt keine Pfandkredite, BonaVal ist lediglich eine unabhängige Vergleichsseite für Pfandkredite.</p>
        <p>© 2016 BonaVal UG, München. Alle Inhalte unterliegen unserem Copyright.</p>
      </div>
    </div>
  </div>
</footer>
