<div class="row text-center">
  <div class="col-md-3 col-sm-6 text-center">
    <img src="/img/how_it_works_1.png">
    <div></div>
    <div style="max-width:240px; display:inline-block;">
      <h4>Kreditanfrage stellen</h4>
      <p>Beschreiben Sie bei BonaVal Ihren Wertgegenstand & schicken Sie Ihre Anfrage kostenlos & unverbindlich ab.</p>
    </div>
    <div class="v-sep"></div>
  </div>
  <div class="col-md-3 col-sm-6 text-center">
    <img src="/img/how_it_works_2.png">
    <div></div>
    <div style="max-width:240px; display:inline-block;">
      <h4>Kreditvergleich & Reservierung auf BonaVal</h4>
      <p>Sie erhalten innerhalb kürzester Zeit unverbindliche Angebote von lokalen & deutschlandweiten Pfandhäusern.</p>
    </div>
    <div class="v-sep"></div>
  </div>
  <div class="col-md-3 col-sm-6 text-center">
    <img src="/img/how_it_works_3.png">
    <div></div>
    <div style="max-width:240px; display:inline-block;">
      <h4>Gegenstand abgeben & Bargeld erhalten</h4>
      <p>Sie geben Ihren Wertgegenstand entweder lokal ab oder versenden ihn per versichertem Versand innerhalb Deutschlands kostenfrei.</p>
    </div>
    <div class="v-sep"></div>
  </div>
  <div class="col-md-3 col-sm-6 text-center">
    <img src="/img/how_it_works_4.png">
    <div></div>
    <div style="max-width:240px; display:inline-block;">
      <h4>Kredit zurückzahlen & Gegenstand erhalten</h4>
      <p>Innerhalb von 3 Monaten können Sie Ihren Kredit jederzeit zurückzahlen & Ihren Gegenstand wiederbekommen.</p>
    </div>
    <div class="v-sep"></div>
  </div>
</div>
