<div class="row text-center" id="how-it-works">
  <div class="how-it-works">
	  <div class="initial-steps">
		  <div class="step">
			  <div class="info">1. Kreditanfrage auf BonaVal</div>
			  <div class="step-1"></div>
			  <div class="desc">Beschreibe Deinen Wertgegenstand mit wenigen Klicks</div>
		  </div>
			<span class="arrow-right arrow-center-right">
				<i class="glyphicon glyphicon-triangle-right"></i>
			</span>
			<span class="arrow-down arrow-center-down">
				<i class="glyphicon glyphicon-triangle-bottom"></i>
			</span>
		  <div class="step step-2-wrapper">
			  <div class="info">2. Angebotsvergleich & Auswahl auf BonaVal</div>
			  <div class="step-2"></div>
			  <div class="desc">Vergleiche die Angebote & wähle den besten Anbieter aus</div>
		  </div>
	  </div>
		<span class="arrow-right arrow-top-right">
			<i class="glyphicon glyphicon-triangle-right"></i>
		</span>
		<span class="arrow-right arrow-bottom-right">
			<i class="glyphicon glyphicon-triangle-right"></i>
		</span>
	  <div class="sub-steps">
			<span class="arrow-down arrow-left-down">
				<i class="glyphicon glyphicon-triangle-bottom"></i>
			</span>
			<span class="arrow-down arrow-right-down">
				<i class="glyphicon glyphicon-triangle-bottom"></i>
			</span>
		  <div class="step">
			  <div class="info">3a. Abschluss & Auszahlung im Pfandhaus</div>
			  <div class="step-3a"></div>
			  <div class="desc">Erhalte Bargeld für die Hinterlegung Deines Gegenstandes</div>
		  </div>
			<span class="arrow-right arrow-center-right">
				<i class="glyphicon glyphicon-triangle-right"></i>
			</span>
		  <div class="step desktop">
			  <div class="info">4a. Rückzahlung & Abholung des Gegenstands</div>
			  <div class="step-4a"></div>
			  <div class="desc">Erstatte den Kredit & nehme Deinen Wertgegenstand wieder mit</div>
		  </div>
		  <div class="step desktop">
			  <div class="info">3b. Versand zum Pfandhaus & Überweisung</div>
			  <div class="step-3b"></div>
			  <div class="desc">Lass Deinen Gegenstand abholen und erhalte Geld per Überweisung</div>
		  </div>
		  <div class="step mobile">
			  <div class="info">3b. Versand zum Pfandhaus & Überweisung</div>
			  <div class="step-3b"></div>
			  <div class="desc">Lass Deinen Gegenstand abholen und erhalte Geld per Überweisung</div>
		  </div>
			<span class="arrow-down arrow-left-down">
				<i class="glyphicon glyphicon-triangle-bottom"></i>
			</span>
			<span class="arrow-down arrow-right-down">
				<i class="glyphicon glyphicon-triangle-bottom"></i>
			</span>
		  <div class="step mobile">
			  <div class="info">4a. Rückzahlung & Abholung des Gegenstands</div>
			  <div class="step-4a"></div>
			  <div class="desc">Erstatte den Kredit & nehme Deinen Wertgegenstand wieder mit</div>
		  </div>
			<span class="arrow-right arrow-center-right">
				<i class="glyphicon glyphicon-triangle-right"></i>
			</span>
		  <div class="step">
			  <div class="info">4b. Rückzahlung & Rückversand des Gegenstands</div>
			  <div class="step-4b"></div>
			  <div class="desc">Überweise den Betrag zurück und erhalte Deinen Gegenstand</div>
		  </div>
	  </div>
  </div>
</div>
