<section id="section2">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 lato" style="font-size: 20px;">
        <div class="text-center">
          <h1>Ihre Vorteile</h1>
        </div>
        <p class="taglinepadding" style="padding-top: 10px;">
          <img style="margin-right: 10px;" src="/img/checkt.png"/>
          <b>Schnelles Bargeld</b> (in nur wenigen Stunden)
        </p>
        <p class="taglinepadding"  style="padding-top: 10px;">
          <img style="margin-right: 10px;" src="/img/checkt.png"/>
          <b>Keine Hürden</b> (kein Einkommensnachweis, keine Bonitätsprüfung, keine SCHUFA-Auskunft)
        </p>
        <p class="taglinepadding"  style="padding-top: 10px;">
          <img style="margin-right: 10px;" src="/img/checkt.png"/>
          <b>Vorteilhafte Konditionen</b> (durch unabhängigen Online-Vergleich)
        </p>
        <p class="taglinepadding" style="padding-top: 10px;">
          <img style="margin-right: 10px;" src="/img/checkt.png"/>
          <b>Große Diskretion</b> (durch anonyme Internetanfrage ohne Namenseingabe)
        </p>
        <p class="taglinepadding" style="padding-top: 10px;">
          <img style="margin-right: 10px;" src="/img/checkt.png"/>
          <b>Hohe Sicherheit & Seriösität</b> (durch gesetzliche Regulierung der Pfandleihe)
        </p>
      </div>
    </div>
    <div class="v-sep"></div>
    <div class="row text-center visible-xs-block">
      <a href="/app/input/new" class="hidden-xs btn btn-cta btn-lg btn-huge lato"><b>Jetzt kostenlos anfragen</b></a>
      <a href="/app/input/new" class="hidden-sm hidden-md hidden-lg btn btn-cta btn-lg lato"><b>Jetzt kostenlos anfragen</b></a>
    </div>
    <hr>
    <div class="v-sep"></div>

    <div class="row text-center" id="how-it-works">
      <div class="title"><h1>Pfandkredite vergleichen - so geht's</h1></div>
      <div class="how-it-works">
	      <div class="initial-steps">
		      <div class="step">
			      <div class="info">1. Kreditanfrage auf BonaVal</div>
			      <div class="step-1"></div>
			      <div class="desc">Beschreibe Deinen Wertgegenstand mit wenigen Klicks</div>
		      </div>
					<span class="arrow-right arrow-center-right">
					  <i class="glyphicon glyphicon-triangle-right"></i>
					</span>
					<span class="arrow-down arrow-center-down">
					  <i class="glyphicon glyphicon-triangle-bottom"></i>
					</span>
		      <div class="step step-2-wrapper">
			      <div class="info">2. Angebotsvergleich & Auswahl auf BonaVal</div>
			      <div class="step-2"></div>
			      <div class="desc">Vergleiche die Angebote & wähle den besten Anbieter aus</div>
		      </div>
	      </div>
				<span class="arrow-right arrow-top-right">
					<i class="glyphicon glyphicon-triangle-right"></i>
				</span>
				<span class="arrow-right arrow-bottom-right">
					<i class="glyphicon glyphicon-triangle-right"></i>
				</span>
	      <div class="sub-steps">
				  <span class="arrow-down arrow-left-down">
					  <i class="glyphicon glyphicon-triangle-bottom"></i>
				  </span>
				  <span class="arrow-down arrow-right-down">
					  <i class="glyphicon glyphicon-triangle-bottom"></i>
				  </span>
		      <div class="step">
			      <div class="info">3a. Abschluss & Auszahlung im Pfandhaus</div>
			      <div class="step-3a"></div>
			      <div class="desc">Erhalte Bargeld für die Hinterlegung Deines Gegenstandes</div>
		      </div>
					<span class="arrow-right arrow-center-right">
					  <i class="glyphicon glyphicon-triangle-right"></i>
					</span>
		      <div class="step desktop">
			      <div class="info">4a. Rückzahlung & Abholung des Gegenstands</div>
			      <div class="step-4a"></div>
			      <div class="desc">Erstatte den Kredit & nehme Deinen Wertgegenstand wieder mit</div>
		      </div>
		      <div class="step desktop">
			      <div class="info">3b. Versand zum Pfandhaus & Überweisung</div>
			      <div class="step-3b"></div>
			      <div class="desc">Lass Deinen Gegenstand abholen und erhalte Geld per Überweisung</div>
		      </div>
		      <div class="step mobile">
			      <div class="info">3b. Versand zum Pfandhaus & Überweisung</div>
			      <div class="step-3b"></div>
			      <div class="desc">Lass Deinen Gegenstand abholen und erhalte Geld per Überweisung</div>
		      </div>
				  <span class="arrow-down arrow-left-down">
					  <i class="glyphicon glyphicon-triangle-bottom"></i>
				  </span>
				  <span class="arrow-down arrow-right-down">
					  <i class="glyphicon glyphicon-triangle-bottom"></i>
				  </span>
		      <div class="step mobile">
			      <div class="info">4a. Rückzahlung & Abholung des Gegenstands</div>
			      <div class="step-4a"></div>
			      <div class="desc">Erstatte den Kredit & nehme Deinen Wertgegenstand wieder mit</div>
		      </div>
					<span class="arrow-right arrow-center-right">
					  <i class="glyphicon glyphicon-triangle-right"></i>
					</span>
		      <div class="step">
			      <div class="info">4b. Rückzahlung & Rückversand des Gegenstands</div>
			      <div class="step-4b"></div>
			      <div class="desc">Überweise den Betrag zurück und erhalte Deinen Gegenstand</div>
		      </div>
	      </div>
      </div>
    </div>
    <div class="row text-center" style="padding-top: 35px;">
      <a href="/app/input/new" class="hidden-xs btn btn-cta btn-lg btn-huge lato"><b>Jetzt kostenlos anfragen</b></a>
      <a href="/app/input/new" class="hidden-sm hidden-md hidden-lg btn btn-cta btn-lg lato"><b>Jetzt kostenlos anfragen</b></a>
    </div>
  </div>
  <!--/container-->
</section>

<section id="section3">
  <div class="container">
    <div class="vertical-center">
      <h1 class="text-center" style="color: white">Kürzlich abgeschlossene Pfandkredite</h1>
      <div class="v-sep"></div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="text-center">
            <div class="panel panel-default slideInLeft animate">
              <div class="panel-body text-center">
                <img style="width: 250px; height: 280px; max-width: 100%;" src="/img/referenz1.jpg">
                <div class="pricetag">
                  <span itemprop="priceCurrency" content="EUR">€</span>
                  <span itemprop="price" content="450.00">450</span>
                </div>
              </div>
              <div class="panel-heading">
                <h3 class="text-center">iPhone 6</h3>
                <p>Schwabing, München</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="text-center">
            <div class="panel panel-default slideInLeft animate">
              <div class="panel-body text-center">
                <img style="width: 250px; height: 280px; max-width: 100%;" src="/img/referenz2.jpg">
                <div class="pricetag">
                  <span itemprop="priceCurrency" content="EUR">€</span>
                  <span itemprop="price" content="1100.00">1100</span>
                </div>
              </div>
              <div class="panel-heading">
                <h3 class="text-center">Cartier Collier</h3>
                <p>Maxvorstadt, München</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
          <div class="text-center">
            <div class="panel panel-default slideInLeft animate">
              <div class="panel-body text-center">
                <a href="">
                  <img style="width: 250px; height: 280px; max-width:100%;" src="/img/referenz3.png">
                </a>
                <div class="pricetag">
                  <span itemprop="priceCurrency" content="EUR">€</span>
                  <span itemprop="price" content="3700.00">3700</span>
                </div>
              </div>
              <div class="panel-heading">
                <h3 class="text-center">IWC Uhr</h3>
                <p>Bogenhausen, München</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center" style="padding-top: 35px;">
        <a href="/app/input/new" class="hidden-xs btn btn-cta btn-lg btn-huge lato"><b>Jetzt kostenlos anfragen</b></a>
        <a href="/app/input/new" class="hidden-sm hidden-md hidden-lg btn btn-cta btn-lg lato"><b>Jetzt kostenlos anfragen</b></a>
      </div>
      <!--/row-->
    </div>
  </div>
</section>
<section id="section4">
  <div class="container vertical-center" style="background-color: #fff; opacity: 0.85;">
    <div class="v-sep"></div>
    <h1 class="text-center">Das sagen unsere Kunden</h1>
    <div class="v-sep"></div>
    <div class="row"><!-- Testimonials Kunden -->
      <div class="col-sm-6 col-md-4">
        <p class="testimonial-text">BonaVal war sehr einfach zu benutzen. Ich habe meine Angebote innerhalb weniger Stunden bekommen, zusammen mit einfachen Erklärungen wie ich an das Geld gelange.</p>
        <div class="testimonial-userinfo">
          <img class="img-responsive" src="/img/smiley.png">
          <p><b>Gisela, Hausfrau, Schwabing/München</b></p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <p class="testimonial-text">Als ein Großkunde meines Malerbetriebs seine Rechnung nicht bezahlte, half mir BonaVal schnell und unkompliziert Bargeld für mein Zweitauto zu erhalten. Damit konnte ich meine Mitarbeiter bezahlen.</p>
        <div class="testimonial-userinfo">
          <img class="img-responsive" src="/img/smiley.png">
          <p><b>Manuel, GF Malerbetrieb, Westend/München</b></p>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
        <p class="testimonial-text">BonaVal hat mir das Pfandhaus mit dem besten Angebot gefunden. Sehr diskret, ohne jegliche Bonitätsprüfung oder SCHUFA-Auskunft. Immer wieder gerne.</p>
        <div class="testimonial-userinfo">
          <img class="img-responsive" src="/img/smiley.png">
          <p><b>Herbert, Privatier, Bogenhausen/München</b></p>
        </div>
      </div>
    </div>
    <div class="v-sep"></div>
    <h1 class="text-center hidden-xs hidden-sm">Lernen Sie Ihre Kreditgeber kennen</h1>
    <div class="v-sep"></div>
    <div class="row hidden-xs hidden-sm"><!-- Testimonials Pfandleiher -->
      <div class="col-md-4 col-md-offset-1">
        <p class="testimonial-text">Als zertifizierter Pfandleiher mit 30 Jahren Erfahrung stehe ich für höchste Verschwiegenheit, Vertrauen und Sicherheit. Die sichere Aufbewahrung der Wertgegenstände in modernen Tresoren sowie die gleichzeitige Versicherung in doppelter Höhe des Beleihungswertes sind für meine Kunden Standard.</p>
        <br>
        <div class="testimonial-userinfo">
          <img class="img-responsive" src="/img/smiley.png">
          <p><b>Horst Schmid, Pfandleihhaus Schmid</b></p>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <p class="testimonial-text">Als geprüfter Pfandleiher ist es mir wichtig, meinen Kunden faire und flexible Kredite zu ermöglichen. Mit der Pfandabgabe können meine Kunden Ihre Finanzengpässe fair überbrücken, verschulden sich nicht weiter und können Ihre Wertgegenstände flexibel an jedem Tag wieder abholen.</p>
        <br>
        <div class="testimonial-userinfo">
          <img class="img-responsive" src="/img/smiley.png">
          <p><b>Steffen Holz, Pfandleiher Holz</b></p>
        </div>
      </div>
    </div>
    <div class="v-sep"></div>
    <div class="row text-center">
      <a href="/app/input/new" class="hidden-xs btn btn-cta btn-lg btn-huge lato"><b>Jetzt kostenlos anfragen</b></a>
      <a href="/app/input/new" class="hidden-sm hidden-md hidden-lg btn btn-cta btn-lg lato"><b>Jetzt kostenlos anfragen</b></a>
    </div>
    <div class="v-sep"></div>
  </div>
</section>
