<section id="section0" style="display:table; width:100%;">
  <div style="padding-top:30px;" class="hidden-xs hidden-sm"></div>
  <div style="display:table-row;">
	  <div style="display:table-cell; vertical-align:bottom; padding-top:30px;">
		  <div class="container">
        <div class="row">
          <div class="col-sm-6 text-center">
            <div class="v-sep"></div>
            <h3><img src="/img/bon-kredit1.png">&nbsp;&nbsp;&nbsp;<em>empfiehlt</em></h3>
            <hr>
            <h3>BonaVal - DER verlässliche Partner für den Vergleich von besicherten Krediten.</h3>
            <h3><b>Diskret & einfach. Für jeden.</b></h3>
            <div class="v-sep visible-xs-block"></div>
            <div class="visible-xs-block">
              {% include call-to-action-kreditvergleich.html %}
            </div>
            <div class="v-sep visible-xs-block"></div>
          </div>
          <div class="col-sm-6 text-center">
            <img src="/img/Header_Bild_freigestellt.png" class="hidden-xs hidden-sm" style="margin-bottom:-58px;">
            <img src="/img/Header_Bild_freigestellt.png" class="visible-sm-inline" style="width:300px; margin-top: 100px; margin-bottom:-58px;">
            <img src="/img/Header_Bild_freigestellt.png" class="visible-xs-inline" style="width:200px; margin-bottom:-58px;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="display:table-row; background:#eee;">
    <div style="display:table-cell; vertical-align:top;">
      <div style="background:#eee;">
        <div class="container" style="text-align:center; padding-top:50px;">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h3 style="margin-bottom:20px;">AUF DER SUCHE NACH EINEM KURZFRISTIGEN KREDIT?</h3>
              <h3>Bei BonaVal sind keinerlei persönliche Daten notwendig, um unverbindliche Kreditangebote zu erhalten.</h4>
                <h3>In nur wenigen Schritten können Sie Ihre Kreditanfrage <b>kostenfrei</b> einstellen und <b>noch heute Bargeld erhalten.</b></h4>
            </div>
          </div>
          <div class="row">
            <div class="v-sep"></div>
            {% include call-to-action-kreditvergleich.html %}
            <div class="v-sep"></div>
          </div>
	        <a href="#section2" class="visible-lg-block visible-md-block visible-sm-block" style="height:60px">
		        <div class="scroll-down bounceInDown animated">
			        <span>
				        <i class="fa fa-angle-down fa-2x"></i>
			        </span>
		        </div>
	        </a>
        </div>
      </div>
    </div>
</section>

<section id="section2">
  <div class="container">
    <h3 class="text-center">EINFACH UND SCHNELL ZUM BESICHERTEN WUNSCHKREDIT</h3>
    <div class="v-sep"></div>
    <div class="row">
      <div class="col-md-8 col-sm-6 lato" style="font-size: 20px;">
        <div>
          <h3>Ihre Vorteile</h3>
        </div>
        <table class="benefits-table">
          <tbody>
            <tr><td><img style="margin-right:10px;" src="/img/checkt.png"/></td>
              <td>
                <b>Schnelles Bargeld</b> (noch am gleichen Tag möglich)
              </td>
            </tr>
            <tr style="padding-top:20px;"><td><img style="margin-right:10px;" src="/img/checkt.png"/></td>
              <td>
                <b>Diskret & ohne Hürden</b> (keinerlei Daten notwendig)
              </td>
            </tr>
            <tr><td><img style="margin-right:10px;" src="/img/checkt.png"/></td>
              <td>
                <b>Kostenlos</b> und <b>unverbindlich</b>
              </td>
            </tr>
            <tr><td><img style="margin-right:10px;" src="/img/checkt.png"/></td>
              <td>
                <b>Ohne Risiko</b> (gesetzliche Regulierung der Pfandleihe)
              </td>
            </tr>
            <tr><td><img style="margin-right:10px;" src="/img/checkt.png"/></td>
              <td>
                <b>Top Konditionen</b> durch deutschlandweiten Vergleich
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="visible-xs-block v-sep">
      </div>
      <div class="col-md-4 col-sm-6">
        {% include reference-carousel.html %}
      </div>
    </div>
    <div class="row text-center">
      <img style="max-width:265px;" src="/img/Austausch Symbolik.png">
    </div>
    {% include call-to-action-anfragen.html %}
  </div>
</section>

<section id="section2" style="background:#eee;">
  <div class="container">
    {% include how-it-works.html %}
    <div class="v-sep"></div>
    {% include call-to-action-angebote.html %}
  </div>
</section>
